*{
    
    color:#fff;
    margin: 0px;
    font-family: cursive;
}

/* Standard (Firefox + modern browsers) */
html {
  scrollbar-color: #fff #000;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body{
background-color: #000;
}

a{
  font-size: 14px;
  text-decoration:none;
  gap: 2rem;
  color: rgb(245, 243, 243);
}

a:active{
  font-size: 14px;
  text-decoration:none;
  gap: 2rem;
  color: rgb(127, 247, 47);
}


a:hover{
    color: rgb(1, 32, 26);
    text-decoration:overline;
    font-size: 15px;
    background-color: rgb(238, 237, 232);
    padding: 4px;
    margin: 4px;
    border-radius: 4px;

}

.home-ideas{
font-size: 90px;
justify-content: left;
}

h1{
    color: #fff;
    font-size: 25px;
}

.home_section{
    height: 100vh;
    padding-top: 90px;
}

.skills_section{
    height: 100vh;
    padding-top: 90px;
}

.tools_section{
    height: 100vh;
    padding-top: 90px;
}

.projects_section{
    height: 100vh;
    padding-top: 90px;
}

.projects-msg{
font-size: 40px;
justify-content: left;
}

.contact_section{
    height: 100vh;
    padding-top: 90px;
}

.about_section{
    height: 100vh;
    padding-top: 90px;
}

.about-text{
    font-size: 25px;
    width: 80%;
}

.profile-img{
    border-radius: 10px 0px 10px 50%;
}

.top-div {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  z-index: 100;
  background: rgba(26, 26, 26, 0.85);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px #333;
}

/*********** form styling **************/

input{
    width: 80%;
    background-color: #222;
    color: #fff;
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #444;
    padding: 20px;
}

label{
    padding: 10px;
}

textarea{
    width: 80%;
    background-color: #222;
    color: #fff;
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    border-top: solid 1px #000;
    border-bottom: solid 1px #444;
    padding: 20px;
}


/* Chrome, Edge, Safari */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ff0;
}

::-webkit-scrollbar-thumb {e
  background: #000;
  border-radius: 4px;
}   